  {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  {% endblock %}
  {% block body %}
    <header>
        <div id="head-wrapper">
            <div id="title">ZIGGY</div>
            <div id="time-wrapper">
                <div id="long_date" class="time"></div>
                <div id="short_clock" class="time"></div>
            </div>
            <div id="weather-wrapper">
            <!--TODO:  Make this direct to the weather Underground website-->
                <!--<a href="#" onClick="window.location = 'https://www.wunderground.com/weather/us/co/hotchkiss/KCOROGER2'"></a>-->
                <div id="temp" class="weather">
                    <i class="fab fa-linux"></i>
                </div>
                <div id="icon" class="weather">
                    <img id="w_icon"></img>
                </div>
            </div>
        </div>
        <div id="login">
            <a href="#" onClick="" class="btn btn-wide">login/out</a>
        </div>
    </header>
    <div id='main'>
        <article>
            <h2>Hello, my name is Ziggy.</h2>
            <h2>am i logged in</h2>
            <p>include text file for description</p>
<!--                <p>I am an experiment in home automation and smarthome technology.</p>-->
            <p>Login to experience everything that I have to offer</p></br>
<!--                <p>Don't have login information? Click<span><a id="register" href="/login/request_account.php"> here </a></span>to register</p>-->
        </article>
        <nav>
            <div id="about" class="btn btn-nav">
                <a href="/owncloud"><img src="/owncloud/core/img/favicon.png"></img> OwnCloud</a>
            </div>
            <div id="register" class="btn btn-nav">
                <a href="#"><i class="fa fa-users fa-3x"></i> Register</a>
            </div>
            <div id="contact" class="btn btn-nav">
                <a href="#"><i class="fa fa-envelope fa-3x"></i> Contact Me</a>
            </div>
        </nav>
        <aside>
            <div id="instructables" class="btn btn-aside">
                <a href="#"><img src="/assets/img/instructables-logo.png" height="56px"></img>My Instructables</a>
            </div>
            <div id="facebook" class="btn btn-aside">
            <a href="#"><i class="fa fa-facebook-square fa-3x"></i>My Facebook</a>
            </div>
        </aside>
    </div>
    <footer>Version: </footer>
    {% endblock %}
